---
layout: base
root: .
title: Categories
---
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
<a name="{{ category | first | replace: ' ', '' | downcase}}"></a>
<h2>{{ category | first }}</h2>
<table class="table table-striped">
        {% for posts in category %}
        {% for post in posts %}
            {% if post.url %}
                    <tr>
                        <td>
                            <span>{{post.date|date: '%b&nbsp;%e,&nbsp;%Y'}}</span>
                        </td>
                        <td>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </td>
                    </tr>
            {% endif %}
        {% endfor %}
        {% endfor %}
</table>
{% endfor %}
<hr/>
