---
layout: page
title: "It Will Never Work in Theory"
session1: "https://www.timeanddate.com/worldclock/meetingdetails.html?year=2023&month=4&day=25&hour=9&min=0&sec=0&p1=240&p2=44&p3=107&p4=37&p5=125&p6=51&p7=250&p8=202"
session2: "https://www.timeanddate.com/worldclock/meetingdetails.html?year=2023&month=4&day=26&hour=16&min=0&sec=0&p1=240&p2=44&p3=107&p4=37&p5=125&p6=51&p7=250&p8=202"
---

<h2 align="center">April 2023 Lightning Talks</h2>

<p>
  On Tuesday, April 25, and Wednesday, April 26,
  It Will Never Work in Theory is offering its <a href="{{site.eventbrite}}">third live event</a>:
  a set of lightning talks from leading software engineering researchers
  on immediate, actionable results from their work.
  Each session will have 12 speakers in 3 hours with plenty of time for questions;
  the speakers and topics are:
</p>

<div class="row">
  {% include advertising.html event="2023-04" id="bai-gina" %}
  {% include advertising.html event="2023-04" id="bohme-marcel" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="businge-john" %}
  {% include advertising.html event="2023-04" id="chatterjee-preetha" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="codabux-zadia" %}
  {% include advertising.html event="2023-04" id="devanbu-prem" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="hoda-rashina" %}
  {% include advertising.html event="2023-04" id="kula-elvan" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="kula-raula" %}
  {% include advertising.html event="2023-04" id="latoza-thomas" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="lee-carol" %}
  {% include advertising.html event="2023-04" id="licorish-sherlock" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="margulieux-lauren" %}
  {% include advertising.html event="2023-04" id="mirian-ariana" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="newman-christian" %}
  {% include advertising.html event="2023-04" id="pinto-gustavo" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="presler-marshall-kai" %}
  {% include advertising.html event="2023-04" id="serebrenik-alexander" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="sullivan-allison" %}
  {% include advertising.html event="2023-04" id="tshukudu-ethel" %}
</div>
<div class="row">
  {% include advertising.html event="2023-04" id="zeller-andreas" %}
  {% include advertising.html event="2023-04" id="zhou-shurui" %}
</div>

<p>
  To ensure these presentations are accessible to as many people as possible,
  the first session will run <a href="{{page.session1}}">09:00-12:00 UTC on Tuesday, April 25</a>
  and the second <a href="{{page.session2}}">16:00-19:00 UTC on Wednesday, April 26</a>.
  Tickets are CAD$50 for people in affluent countries and CAD$20 elsewhere;
  each is good for both sessions
  and can be purchased through <a href="{{site.eventbrite}}">Eventbrite</a>.
  All of the money raised will go to support <a href="https://www.booksforafrica.org/">Books for Africa</a>.
</p>

<div align="center">
  <h3><em><strong><a href="{{site.eventbrite}}">Get your ticket now!</a></strong></em></h3>
</div>

{% include recent.html %}

<h2>Past Events</h2>

{% include session.html event="2022-09" title="Strange Loop" date="September 2022" %}

{% include session.html event="2022-04" title="Online" date="April 2022" %}
