<div class="flex-row">
  <div class="flex-col">
    <p align="center">
      <img src="{{ '/static/crc-press.jpg' | relative_url }}" alt="CRC Press logo" />
    </p>
  </div>
  <div class="flex-col">
    <p>
      This event is co-sponsored by CRC Press,
      a leading publisher in computer science, programming, software engineering, and data science.
      CRC will offer every attendee a £100 voucher toward the e-book of their choice
      from <a href="http://www.routledge.com">http://www.routledge.com</a>.
      CRC Press is also interested in new book projects:
      please contact Randi Cohen at <a href="mailto:randi.cohen@taylorandfrancis.com">randi.cohen@taylorandfrancis.com</a>
      to discuss any book ideas.
    </p>
  </div>
</div>
