{% if include.content contains '<div class="extract">' %}
  {% assign div_and_rest = include.content | split: '<div class="extract">' %}
  {% assign div_only = div_and_rest[1] | split: '</div>' %}
  {% assign extract = div_only[0] %}
{% elsif include.content contains '<div class="review">' %}
  {% assign div_and_rest = include.content | split: '<div class="review">' %}
  {% assign div_only = div_and_rest[1] | split: '</div>' %}
  {% assign extract = div_only[0] %}
{% else %}
  {% assign extract = include.content %}
{% endif %}
{{extract | strip_html | truncatewords: 100}}
