<footer class="footer">
  <small>
    <span class="copyright"><i class="fa fa-copyright"></i> 2011-<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> The Authors</span> <i class="fas fa-balance-scale-left"></i>
  </small>
  <div class="ftr-links">
    <a href="mailto:{{site.author.email}}"><i class="fas fa-envelope-square"></i></a>
    <a href="https://github.com/{{site.repository}}"><i class="fab fa-github"></i></a>
    <a href="{{ '/atom.xml' | relative_url }}"><i class="fas fa-rss"></i></a>
    <a href="{{ '/license/' | relative_url }}"><i class="fab fa-creative-commons-by"></i></a>
  </div>
</footer>
