{% assign entry = site.data.speakers | where: "event", include.event | where: "id", include.id | last %}

<div class="row">
  <div class="col-4">
    <p>
      <img src="{{'/static/' | append: entry.event | append: '/' | append: entry.photo | relative_url}}" width="80%" alt="{{entry.personal}} {{entry.family}}"/>
    </p>
  </div>
  <div class="col-1"></div>
  <div class="col-6">
    <p>
      <a href="{{entry.url}}" class="person">{{entry.personal}} {{entry.family}}</a>
      <br>
      "{{entry.title}}"
    </p>
    <p>
      <em>
	{{entry.bio}}
      </em>
    </p>
    <p>
      <a href="{{'/static/' | append: entry.event | append: '/' | append: entry.id | append: '.pdf' | relative_url}}">slides</a>
      {% include transcript.html event=entry.event entry=entry %}
    </p>
  </div>
  <div class="col-1"></div>
</div>

<iframe width="800" height="450" src="https://youtube.com/embed/{{entry.video}}"></iframe>
