<nav class="nav-main">
  <ul>
    <li class="hvr-underline-reveal"><a href="{{ '/' | relative_url }}">home</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/reviews/' | relative_url }}">reviews</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/about/' | relative_url }}">about</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/bib/' | relative_url }}">bibliography</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/date/' | relative_url }}">by review date</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/category/' | relative_url }}">by category</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/authors/' | relative_url }}">by author</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/conduct/' | relative_url }}">code of conduct</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/contributing/' | relative_url }}">contributing</a></li>
    <!--
    <li class="hvr-underline-reveal"><a href="{{ '/todo/' | relative_url }}">to do</a></li>
    -->
  </ul>
</nav>
