<nav class="nav-main">
  <ul>
    <li class="hvr-underline-reveal"><a href="{{ '/' | relative_url }}">home</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/about/' | relative_url }}">about</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/bydate/' | relative_url }}">by review date</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/bycategory/' | relative_url }}">by category</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/reviewed/' | relative_url }}">reviewed</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/authors/' | relative_url }}">authors</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/todo/' | relative_url }}">to do</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/contributing/' | relative_url }}">contributing</a></li>
  </ul>
</nav>
