<h2>Recent Posts</h2>
<table>
  <tr><th>Date</th><th>Title</th><th>Keywords</th></tr>
  {% for post in site.posts limit:25 %}
  <tr>
    <td style="white-space: nowrap;">{{post.date | date: '%F'}}</td>
    <td width="45%"><a href="{{post.url | relative_url}}">{{post.title}}</a></td>
    <td width="45%">{{ post.categories | sort | join: ', ' }}</td>
  </tr>
  {% endfor %}
</table>
<p>
  <em>
    …or see all past reviews
    by <a href="{{'/date/' | relative_url}}">date</a>
    or <a href="{{'/category/' | relative_url}}">topic</a>.
  </em>
</p>
