{% assign speakers = site.data.speakers | where: "event", include.event %}
<h3 id="{{include.event}}" align="center">{{include.title}} ({{include.date}})</h3>
<table>
  <tr>
  {% assign column = "left" %}
  {% for speaker in speakers %}
    <td><a href="https://youtu.be/{{speaker.video}}"><img src="{{'/static/' | append: include.event | append: '/' | append: speaker.thumbnail | relative_url}}" alt="{{speaker.title}}"/></a></td>
    <td>
      <a href="{{speaker.url}}">{{speaker.personal}} {{speaker.family}}</a>:
      <br/>
      <a href="https://youtu.be/{{speaker.video}}">{{speaker.title}}</a>
      {% include transcript.html event=include.event entry=speaker %}
    </td>
    {% if column == 'left' %}
      {% assign column = 'right' %}
    {% else %}
      </tr>
      <tr>
      {% assign column = 'left' %}
    {% endif %}
  {% endfor %}
  {% if column == 'right' %}
  <td></td>
  {% endif %}
  </tr>
</table>
