<h2>Speakers</h2>

{% assign speakers = site.data.speakers | where: "event", include.event %}
{% for speaker in speakers %}
<div class="flex-row" id="{speaker.ID}">
  <div class="flex-col">
    {% if speaker.photo %}<img src="{{'/static/' | append: include.event | append: "/" | append: speaker.photo}}" alt="{speaker.personal} {speaker.family}" width="200px">{% endif %}
  </div>
  <div class="flex-col">
    <a href="{{speaker.url}}" class="person">{{speaker.personal}} {{speaker.family}}</a>:
    "{{speaker.title}}"
    {{speaker.bio}}
    {% if speaker.video %}<br><a href="{{speaker.video}}">Video</a>{% endif %}
  </div>
</div>
{% endfor %}
