<h2>Speakers</h2>

{% assign speakers = site.data.speakers | where: "event", include.event %}
{% for speaker in speakers %}
<div class="row" id="{speaker.ID}">
  <div class="col-4">
    {% if speaker.photo %}<img src="{{'/static/' | append: include.event | append: "/" | append: speaker.photo}}" alt="{speaker.personal} {speaker.family}" width="80%">{% endif %}
  </div>
  <div class="col-8">
    <a href="{{speaker.url}}" class="person">{{speaker.personal}} {{speaker.family}}</a>:
    "{{speaker.title}}"
    {{speaker.bio}}
    {% if speaker.video %}<br><a href="https://youtu.be/{{speaker.video}}">Video</a>{% endif %}
    {% include transcript.html event=include.event entry=speaker %}
  </div>
</div>
{% endfor %}
