---
---

img.navbar-logo {
  height: 40px; // synchronize with height of navbar
  padding-top: 5px;
  padding-right: 10px;
}
.article-header {
  background-color: #f9f9f9;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.article-column{
  padding: 0.6em;
  word-wrap: break-word;
}