---
layout: page
title: By Review Date
---
<p>
  {% for year in site.years reversed %}<a href="#y{{year}}">{{year}}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
</p>

<div align="center">
  <img src="{{'/files/years-histogram.svg' | relative_url}}" alt="Histogram of publication years of papers reviewed" />
</div>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
  {% unless forloop.first %}</ul>{% endunless %}
  <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
  <ul>
  {% assign date = currentdate %}
  {% endif %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}
  </ul>
  {% endif %}
{% endfor %}
    
