---
layout: page
title: By Category
permalink: "/category/"
---
<table>
  {% for category in site.data.categories %}
  {% cycle '<tr>', '', '' %}
    <td><a href="#{{category.name | slugify}}">{{category.name}}</a> ({{category.entries | size}})</td>
  {% cycle '', '', '</tr>' %}
  {% endfor %}
</table>

{% for category in site.data.categories %}
<h2 id="{{category.name | slugify}}">{{category.name}}</h2>
<table>
  {% for entry in category.entries %}
  <tr>
    <td width="25%">{{entry.date}}</td>
    <td><a href="{{entry.reviewed | relative_url}}">{{entry.title}}</a></td>
  </tr>
  {% endfor %}
</table>
{% endfor %}
