<!DOCTYPE HTML>
<html>
  <head>
    {% include header.html %}
    <title>{{page.title}}</title>
  </head>
  <body>
    <div class="container shadow">
      <div class="row-fluid">
        <div class="span10 offset1">
	  <div class="row-fluid">
	    <div class="span1"><img src="{{page.root}}/files/scales.svg" /></div>
	    <div class="span9"><h1>It Will Never Work in Theory</h1></div>
	  </div>
          {% include navbar.html %}
          {{content}}
          {% include footer.html %}
	  {% include disqus.html %}
        </div>
      </div>
    </div>
  </body>
</html>
