---
layout: page
title: "It Will Never Work in Theory: Live!"
---

<h2>April 27, 2022: Lightning Talks</h2>

<div align="center">
  <p>
    <em>See <a href="https://www.youtube.com/playlist?list=PLcGKfGEEONaCC6Y_DR0mw04WghP2QjMSO">the complete playlist</a>.</em>
  </p>
</div>

<p>
  Software developers and software researchers don't go to the same parties.
  While we've been building complex software for over seventy years and studying how it's built for nearly as long,
  most programmers don't know what software researchers have discovered,
  and most researchers aren't living with the problems developers would most like solved.
</p>

<p>
  We can do better.
  On Wednesday, April 27,
  It Will Never Work in Theory is offering its first live event,
  a set of lightning talks from leading software engineering researchers
  on immediate, actionable results from their work.
  How can you do better code reviews (and avoid doing harmful ones)?
  What have we learned about effective remote onboarding during the pandemic?
  Does test-driven development actually make you more productive?
  And what does "productive" actually mean for a programmer?
  Our speakers will share what we know about these questions and why we believe it's true.
</p>

<p>
  To ensure these presentations are accessible to as many people as possible,
  we are offering two sessions at the times shown below;
  each session will have 12 speakers in 3 hours (with plenty of time for questions).
  Tickets are CAD$50 for people in affluent countries and CAD$20 elsewhere,
  and are good for both sessions.
  All of the money raised will go to support <a href="https://www.booksforafrica.org/">Books for Africa</a>.
</p>

{% include speakers.html event="2022-04" %}

{% include crc-press.html %}

<div class="flex-row">
  <div class="flex-col">
    <p align="center">
      <img src="{{ '/static/strange-loop.png' | relative_url }}" alt="Strange Loop logo" />
    </p>
  </div>
  <div class="flex-col">
    <p>
      Edited recordings of these lightning talks will be shared after the event
      in collaboration with <a href="https://thestrangeloop.com/">Strange Loop</a>,
      a multi-disciplinary conference that brings together
      the developers and thinkers building tomorrow's technology in fields such as emerging languages,
      alternative databases, concurrency, distributed systems, security, and the web.
    </p>
  </div>
</div>
