---
layout: page
title: "April 25-26, 2023: NWIT Lightning Talks"
---

<p>
  People have been writing software for over seventy years,
  and studying it for nearly as long,
  but most programmers don't know what researchers have discovered,
  and most researchers aren't looking at the problems developers would most like solved.
</p>

<p>
  We can do better.
  On Tuesday, April 25, and Wednesday, April 26,
  It Will Never Work in Theory is offering its third live event:
  a set of lightning talks from leading researchers
  on immediate, actionable results from their work.
  Our speakers will share what we know about these questions and why we believe it's true.
</p>

<p>
  Each session will have 12 speakers in 3 hours with plenty of time for questions.
  To ensure these presentations are accessible to as many people as possible,
  the sessions are offered at the times shown below;
  tickets are CAD$50 for people in affluent countries and CAD$20 elsewhere,
  and are good for both sessions.
  To purchase a ticket, please go to <a href="https://www.eventbrite.com/e/it-will-never-work-in-theory-tickets-527743173037">EventBrite</a>;
  all of the money raised will go to support <a href="https://www.booksforafrica.org/">Books for Africa</a>.
</p>

<table>
  <tr>
    <th></th>
    <th><a href="https://www.timeanddate.com/worldclock/meetingdetails.html?year=2023&month=4&day=25&hour=9&min=0&sec=0&p1=240&p2=44&p3=107&p4=37&p5=125&p6=51&p7=250&p8=202">Session 1: 2023-04-25</a></th>
    <th><a href="https://www.timeanddate.com/worldclock/meetingdetails.html?year=2023&month=4&day=26&hour=16&min=0&sec=0&p1=240&p2=44&p3=107&p4=37&p5=125&p6=51&p7=250&p8=202">Session 2: 2023-04-26</a></th>
  </tr>
  <tr>
    <td>UTC</td><td>09:00 - 12:00</td><td>16:00 - 19:00</td>
  </tr>
  <tr>
    <td>Sydney</td><td>19:00 - 22:00</td><td>02:00 (+1) - 05:00 (+1)</td>
  </tr>
  <tr>
    <td>Mumbai</td><td>14:30 - 17:30</td><td>21:30 - 00:30 (+1)</td>
  </tr>
  <tr>
    <td>Berlin</td><td>11:00 - 14:00</td><td>18:00 - 21:00</td>
  </tr>
  <tr>
    <td>Lagos</td><td>10:00 - 13:00</td><td>17:00 - 20:00</td>
  </tr>
  <tr>
    <td>Buenos Aires</td><td>06:00 - 09:00</td><td>13:00 - 16:00</td>
  </tr>
  <tr>
    <td>Toronto</td><td>05:00 - 08:00</td><td>12:00 - 15:00</td>
  </tr>
  <tr>
    <td>Portland</td><td>02:00 - 05:00</td><td>09:00 - 12:00</td>
  </tr>
</table>

{% include speakers.html event="2023-04" %}
{% include crc-press.html %}
